@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
    <!-- basic styles -->
    <link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/font-awesome.min.css")" rel="stylesheet" />
    <!--[if IE 7]>
		  <link rel="stylesheet" href="@Url.Content("~/Content/css/font-awesome-ie7.min.css")" />
		<![endif]-->
    <!-- page specific plugin styles -->
    <!-- fonts -->
    <link href="@Url.Content("~/Content/font/font.css")" rel="stylesheet" />
    <!-- ace styles -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/ace.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/ace-rtl.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/ace-skins.min.css")" />
    <!--[if lte IE 8]>
		  <link rel="stylesheet" href="@Url.Content("~/Content/css/ace-ie.min.css")" />
		<![endif]-->
    <!-- inline styles related to this page -->
    <style>
        body
        {
            font-family: '微软雅黑';
            width: 99%;
        }
    </style>
</head>
<body>
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="error-container">
                <div class="well">
                    <h1 class="grey lighter smaller">
                        <span class="blue bigger-125"><i class="icon-sitemap"></i>404 </span>Page Not Found
                    </h1>
                    <hr>
                    <h3 class="lighter smaller">
                        We looked everywhere but we couldn't find it!</h3>
                    <div>
                        <form class="form-search">
                        <span class="input-icon align-middle"><i class="icon-search"></i>
                            <input type="text" class="search-query" placeholder="Give it a search...">
                        </span>
                        <button class="btn btn-sm" onclick="return false;">
                            Go!</button>
                        </form>
                        <div class="space">
                        </div>
                        <h4 class="smaller">
                            Try one of the following:</h4>
                        <ul class="list-unstyled spaced inline bigger-110 margin-15">
                            <li><i class="icon-hand-right blue"></i>Re-check the url for typos </li>
                            <li><i class="icon-hand-right blue"></i>Read the faq </li>
                            <li><i class="icon-hand-right blue"></i>Tell us about it </li>
                        </ul>
                    </div>
                    <hr>
                    <div class="space">
                    </div>
                    <div class="center">
                        <a class="btn btn-grey"><i class="icon-arrow-left"></i>Go Back </a><a class="btn btn-primary">
                            <i class="icon-dashboard"></i>Dashboard </a>
                    </div>
                </div>
            </div>
            <!-- PAGE CONTENT ENDS -->
        </div>
        <!-- /.col -->
    </div>
</body>
</html>
