@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script>
    function submitForm(callback) {
        $.submitForm({
            url: "SubmitForm",
            data: $('form').serializeForm(),
            callback: callback
        });
    }
</script>
<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal" style="margin-top: 30px">
            <input  type="hidden" name= "id" value="@Model.id" />
            <div class="form-group">
                <label class="col-sm-3 col-xs-3">
                    ID
                </label>
                <div class="col-sm-9 col-xs-9">
                    <input id="txtId" readonly type="text" class="col-xs-10 col-sm-10" />
                    <script>
                        var id = $("form input[name='id']").val();
                        if (id == -1)
                            $("#txtId").val("新增");
                        else
                            $("#txtId").val(id);
                    </script>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 col-xs-3">
                    所属部门
                </label>
                <input  type="hidden" name= "unitSeq" value="@Model.unitSeq" />
                <div class="col-sm-9 col-xs-9">
                    <input readonly type="text" name="Name" value="@ViewBag.UnitName"  autocomplete="off" class="col-xs-10 col-sm-10" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 col-xs-3">
                    所属业务
                </label>
                <input  type="hidden" name= "busiSeq" value="@Model.busiSeq" />
                <div class="col-sm-9 col-xs-9">
                    <input readonly type="text" name="Number" value="@ViewBag.BusiName" autocomplete="off" class="col-xs-10 col-sm-10"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 col-xs-3">
                    出票时间段
                </label>
                <div class="col-sm-9 col-xs-9">
                    <input type="text" name="timeInterval" value="@Model.timeInterval"  autocomplete="off" class="col-xs-10 col-sm-10" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 col-xs-3">
                    限制取号数量
                </label>
                <div class="col-sm-9 col-xs-9">
                    <input type="text" name="ticketRestriction" value="@Model.ticketRestriction"  autocomplete="off" class="col-xs-10 col-sm-10" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 col-xs-3">
                    等候人数预警值
                </label>
                <div class="col-sm-9 col-xs-9">
                    <input type="text" name="lineUpWarningMax" value="@Model.lineUpWarningMax"  autocomplete="off" class="col-xs-10 col-sm-10" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 col-xs-3">
                    该业务票号前缀
                </label>
                <div class="col-sm-9 col-xs-9">
                    <input type="text" name="ticketPrefix" value="@Model.ticketPrefix"  autocomplete="off" class="col-xs-10 col-sm-10" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 col-xs-3">
                </label>
                <div class="col-sm-9 col-xs-9">
                    <label>
                        <input name="greenChannel" checked="@ViewBag.GreenChannel" class="ace" type="checkbox" />
                        <span class="lbl">&nbsp;绿色通道</span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 col-xs-3">
                    备注
                </label>
                <div class="col-sm-9 col-xs-9">
                    <input type="text" name="remark" value="@Model.remark"  autocomplete="off" class="col-xs-10 col-sm-10" />
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
