<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- basic styles -->
    <link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/font-awesome.min.css")" rel="stylesheet" />
    <!-- fonts -->
    <link href="@Url.Content("~/Content/font/font.css")" rel="stylesheet" />
    <!-- ace styles -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/ace.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/ace-rtl.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/ace-skins.min.css")" />
    <!--[if lte IE 8]>
		  <link rel="stylesheet" href="@Url.Content("~/Content/css/ace-ie.min.css")" />
		<![endif]-->
    <style>
        label
        {
            text-align: end;
        }
        input
        {
            color: Black !important;
        }
        select
        {
            color: Black !important;
            padding-left: 0px !important;
            font-size: 14px;
        }
    </style>
    <script src="@Url.Content("~/Content/js/jquery-2.0.3.min.js")"></script>
    <script>
        $.submitForm = function (arg) {
            $('#divLoading').css("display", "block");
            var btns = $(window.parent.document).find("#dialog-editor").parent().find(".ui-dialog-buttonpane button");
            btns.attr('disabled', 'disabled');
            arg.type = "POST";
            var token = $("input[name=__RequestVerificationToken]");
            arg.data = arg.data + "&__RequestVerificationToken=" + token[0].value;
            if (arg.complete == null)
                arg.complete = function () {
                    window.parent.modalClose();
                    if (arg.callback != null)
                        arg.callback();
                };
            $.ajax(arg);
        };
        $.fn.extend({
            serializeForm: function (data) {
                var pStr = "";
                var chks = this.find('input[type=checkbox]');
                chks.each(function (i, obj) {
                    if (obj.checked)
                        obj.value = true;
                    else
                        pStr += "&" + obj.name + "=false";
                });
                return this.serialize() + pStr;
            }
        });
    </script>
</head>
<body style="background: white;">
    <div id="divLoading" style="display: none; position: fixed; width: 100%; height: 100%;
        background: rgba(255, 255, 255, 0.7); z-index: 999;">
    </div>
    @RenderBody()
    @Html.AntiForgeryToken()
</body>
</html>
